<h1>About</h1>
<h2>Service interval</h2>
Huoltoväli, määräaikaishuolloille. Esimerkiksi:
<ul>
 <li>Moottoriruiskut</li>
 <li>Sähkölaitteet</li>
 <li>Ajoneuvot</li>
</ul>
<h2>Inspection interval</h2>
Tarkastusväli, määräaikaistarkastuksille. Esimerkiksi:
<ul>
 <li>Putoamissuojaimet</li>
 <li>Sammuttimet</li>
 <li>Köysikalusto</li>
</ul>
<h2>LUP ja LUP required/inc</h2>
Onko kalu LUP:n huollon piirissä.<br>
Onko kalu LUP:n kalustoluettelon mukaisesti vaadittu.
<h2>Lifetime at eol</h2>
Onko lifetime ehdoton, esimerkiksi köysikalustolla on määritetty käyttöikä.

