<h1>Heipatirallaa</h2>
Hei, tämä on palokunnille tarjottua kalustonhallinta palvelua, lähinnä LUP:n alueella.<br>
Homma on vielä monilta osin kesken, mutta työtä tehdään jatkuvasti ja päivityksiäkin tulee pikkuhiljaa.<br>
Vielä ei ole mitään versionumerointia, mutta tässä alettaneen näyttää viimeisimpiä muutoksia<br>
<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg 6">
<h2>Changelog</h2>
<h3>2014-11-09</h3>
- Lisätty itemin hakutoiminto navigointivalikkoon</br>
- Lisätty "inventory"-hakuun myös muita attribuutteja: tagid, jos ei niin serial, jos ei sitäkään niin identifiereistä, jos niitä löytyy vain yksi.<br>
- Lisätty erilaisten huoltotapahtumien viivakoodit esille huoltoeventtiin<br>
<h3>2014-11-07</h3>
- Lisätty "cloths" käyttäjille, vaatii vielä vähän hiontaa<br>
- Korjattu bugi userin editoinnissa equipmentin osalta, jossa jo valitut eivät näkyneet<br>
- Muutettu "inventory"-toimintoa, tästä saa tehtyä suoraan huoltoeventin tai lainattua ulos<br>
- Lisätty ominaisuus jolla saa lainattua ulos kalustoa<br>
- Tarkennettu hakusivuja/lisätty hakuvaihtoehtoja<br>
<h3>2014-11-02</h3>
- Lisätty määritellyn käyttäjän näkyvyys itemiin<br>
- Siivottu tyylejä<br>
<h3>2014-11-01</h3>
- Lisätty varusteiden lisäys käyttäjän puolella, voi olla useampi kappale samaa varustetta<br>
-- Korjattu toimivaksi illalla n. 23:00<br>
- Lisätty henkilökohtaisiin varusteisiin kypärävalaisin<br>
- Henkilökohtaisten varusteiden lisäyksessä näkyy vain ne, jotka ovat vapaana<br>
- Poistettu sivuilta 100px tyhjää<br>
- Muutettu näkymiä -> skaalautuvuutta<br>
<h3>2014-10-31</h3>
- Lisätty esivalittavia huoltotapahtumia huolto-eventeille<br>
<h3>2015-10-30</h3>
- Lisätty groups<br>
- Lisätty ennakoivasti valikoita, ei vielä kaikkia toimintoja<br>
- Tarkennettu roolien toimintaa<br>
- Muutettu ulkoasua<br>
<h3>2014-10-29</h3>
- Muutettu superuser & paid -> user attributeksi (boolean, default false)<br>
- Poistettu roolit superuser & paid<br>
- Vain admin voi määritellä rooleja<br>
- Muutettu user-show:ta<br>
<h3>Vanhemmat</h3>
- Lisätty home, about ja contact<br>
- Tarkennettu ja korjattu pari bugia<br>
- Parannettu skaalautuvuutta<br>
<h2>Mahdollisuudet</h2>
- Voidaan määritellä mitkä tiedot näkyy minkäkin kokoisella näytöllä. Kommenttia tulemaan niin oikaistaan :)<br>
<h2>bugs:</h2>
- service ja inspection overdue -nappulat eivät toimi. Tiedossa on.<br>
- Käyttäjätasoissa on tarvetta viilata<br>
- Näkymät ovat mitä sattuu (tarvitaan apuja!)<br>
<h2>Millä tämä on tehty, voinko auttaa?</h2>
Tämä on tehty Ruby on Railsilla, ruby 2.x ja rails 4.1.x.<br>
Tyyleihin on käytetty bootstrapia, formeihin simple_formia. Hakutyökalu on filterrific.<br>
Koko projekti löytyy <a href="http://github.com/oh2ftu/vapa">githubista</a>.<br>
Lisää tekijöitä tarvitaan, tässä on vielä paljon työsarkaa edessä.<br><br>
 </div>
 <div class="col-xs-12 col-sm-12 col-md-6 col-lg 6">
  <h3>Todo:</h3>
- Scopet hakuja varten:<br>
-- service/inspection overdue<br>
-- Superuserin haku by UnitType (matala prioriteetti)<br>
- Tarttis vähän nopeuttaa ja järkeistää tietokantahakuja<br>
- Ajaa tämä versio tuotantoon<br>
- Perehtyä tekstiviestin lähettämisen hallintaan<br>
  <h3>Poistettavia attribuutteja</h3>
- Comments: :commenter<br>
- Identifiers: :type<br>
- Items:<br>
-- :sku<br>
-- :service<br>
-- :inspection<br>
- Users: role_id<br>
 
 </div>
</div>
